In [2]:
import pandas as pd
import gensim
from gensim import corpora
from pprint import pprint
import tqdm
import nltk
# nltk.download('punkt')
from nltk.tokenize import word_tokenize
from textblob import TextBlob   # for smarter sentence parsing !!!

c:\users\princ3\anaconda3\envs\tfconda\lib\site-packages\gensim\utils.py:860: UserWarning: detected Windows; aliasing chunkize to chunkize_serial
  warnings.warn("detected Windows; aliasing chunkize to chunkize_serial")

In [3]:
df = pd.read_pickle('./input/squad_contxt.pkl')

In [4]:
df.head()

,title,title_no,context_no,context
1,Beyoncé,1,1,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...
2,Beyoncé,1,2,Following the disbandment of Destiny's Child i...
3,Beyoncé,1,3,"A self-described ""modern-day feminist"", Beyonc..."
4,Beyoncé,1,4,"Beyoncé Giselle Knowles was born in Houston, T..."
5,Beyoncé,1,5,Beyoncé attended St. Mary's Elementary School ...

In [42]:
docs = df['context']
tokens = [TextBlob(doc).words for doc in docs]

In [43]:
dictionary = corpora.Dictionary(tokens)

In [47]:
print(dictionary)

Dictionary(109589 unique tokens: ['TripAdvisor', 'raga', 'Kest', '11,500', 'Tagalog']...)